.container {
	width: 1000px;
	margin: 0 auto;
}
header {
	display: flex;
	padding: 20px 0;
}
.user-menu {
	float: right;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		padding-left: 20px;
	}
}
.custom-credit {
	float: left;
}
#profile h2 {
	margin-top: 0;
	margin-bottom: 40px;;
	text-align: center;
}
#profile table {
	width: 100%;
	border-collapse: collapse;
	th, td {
		padding: 10px;
		border: 1px solid #ccc;
	}
}